// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#container{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

form{
    width:500px;
}